body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:704px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:704px;
}
#u1 {
  position:absolute;
  left:2px;
  top:344px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:820px;
  top:30px;
  width:180px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:620px;
  top:28px;
  width:180px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:1048px;
  top:29px;
  width:180px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:510px;
  top:620px;
  width:290px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
